doctype html
html
    head
        style
            include style-email.css
        body
            div.header
                h2 Welcome
            div
                block content
            div.footer
                |More information
                br
                a(href='https://massage-pro.org') Our website!
