extends container
block content
    h3 Hello #{userName}
    p Welcome to our Social Network App!
    p For activate click link bellow
    a(href=(`http://localhost:5050/auth/activate/${token}`)) click here

